
body {
  font-family: 'Arial', sans-serif;
  background-color: #1e2a47; 
  color: #ddd; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
}


.app-container {
  background-color: #2c3e50;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 95%;
  max-width: 1200px;
  margin: 20px;
  position: relative;
  animation: pulseBackground 2s infinite alternate;
}


h1 {
  text-align: center;
  color: #f39c12;
  font-size: 3rem;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: glow 1.5s infinite alternate;
}


.chart-container {
  position: relative;
  height: 500px;
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(39, 174, 96, 0.3)); /* Arka planda soyut geçiş */
  animation: backgroundFlow 8s ease-in-out infinite;
}


@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(239, 71, 111, 0.7), 0 0 10px rgba(239, 71, 111, 0.7), 0 0 15px rgba(239, 71, 111, 0.7);
  }
  100% {
    text-shadow: 0 0 10px rgba(239, 71, 111, 1), 0 0 20px rgba(239, 71, 111, 1), 0 0 30px rgba(239, 71, 111, 1);
  }
}

@keyframes pulseBackground {
  0% {
    background-color: #34495e;
  }
  50% {
    background-color: #2c3e50;
  }
  100% {
    background-color: #34495e;
  }
}

@keyframes backgroundFlow {
  0% {
    background: linear-gradient(135deg, rgba(39, 174, 96, 0.3), rgba(0, 0, 0, 0.6));
  }
  100% {
    background: linear-gradient(135deg, rgba(39, 174, 96, 0.5), rgba(0, 0, 0, 0.7));
  }
}
